

/* Variables */

$color-main: #fed136;
$color-main-font: #777777;
$color-portfolio-background: #f7f7f7;
$color-light: #fff;
$color-dark: #000;

$main-font: serif;
$headers-font: sans-serif;
$welcome-font: 'Noto Serif', serif;

$transition: all .5s;


/* Global */

*, *::before, *::after {
	box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $main-font;
  font-size: 14px;
  color: $color-main-font;
  line-height: 1;
  text-align: center;
}

h1,
h2,
h3,
h4,
.subtitle {
  margin-top: 0;
}

h3,
h4 {
  font-family: $headers-font;
  font-weight: 800;
  color: $color-dark;
  }

section {
  padding: 120px 0;
}

section h3 {
  font-size: 36px;
  margin-bottom: 20px;
}

section h4 {
  font-size: 18px;
}

.section-header {
  margin-bottom: 72px;
}

.subtitle {
  font-size: 18px;
  font-style: italic;
  margin-bottom: 0;
}

article p {
  line-height: 1.7;
}


/* Splash */
.splash {
  height: 700px;
  background-image: url("../images/splash_background.png");
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: $headers-font;
  color: $color-light;
  position: relative;
}

.splash::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  background-color: $color-dark;
  opacity: 0;
  z-index: 1;
  transition: $transition;
}

.splash:hover::before {
  opacity: .5;
}

.splash nav {
  padding-top: 44px;
}

.golden-logo,
.nav-menu-wrapper,
.splash-inner {
  z-index: 2;
}

.golden-logo {
  text-align: left;
}

.nav-menu-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-left: 0;
}

.splash ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.splash li {
  display: inline-block;
  padding-bottom: 12px;
  margin-right: 40px;
  position: relative;
}

.splash li:last-of-type {
  margin-right: 0;
}

.splash li ul {
  display: none;
  position: absolute;
  background-color: $color-main;
  top: 24px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 3%;
}
.splash li li {
  display: block;
  text-align: left;
  margin: 12px 20px;
  padding-bottom: 0;
  white-space: nowrap;
  font-size: 16px;
}

.splash li li:hover a {
  color: $color-dark;
}

.splash li:hover ul {
  display: block;
}

.splash a {
  text-decoration: none;
  color: $color-light;
  transition: $transition;
}

.splash nav a:hover {
  color: $color-main;
  font-size: 16px;
}

.splash-inner {
  position: absolute;
  top: calc(50vh + 74px);
  left: 50%;
  transform: translate(-50%, -50%);
}

.splash-inner h1 {
  font-size: 40px;
  font-family: $welcome-font;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 48px;
}

.splash-inner h2 {
  font-size: 64px;
  font-weight: 800;
  margin-bottom: 56px;
  white-space: nowrap;
}

.splash-inner a {
  display: inline-block;
  width: 242px;
  background-color: $color-main;
  padding: 23px 0;
  font-size: 18px;
  font-weight: 700;
  border-radius: 3%;
}

.splash-inner:hover a {
  transform: scale(1.1);
}


/* Services*/

.services a {
  font-size: 0;
  text-decoration: none;
}

.services i.fas {
    font-size: 42px;
    background-color: $color-light;
    color: $color-main;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
    transition: $transition;
}

.services i.fas:hover {
  border: solid 3px $color-main;
  transform: scale(1.1);
}

.services article h4 {
  margin-top: 24px;
  margin-bottom: 18px;
}


/* Portfolio */

.portfolio {
  background-color: $color-portfolio-background;
}

.portfolio figure {
  margin: 0 0 50px;
  padding-bottom: 22px;
  background-color: $color-light;
}

.image-box {
  height: 303px;
  overflow: hidden;
  margin-bottom: 30px;
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: $transition;
}

.image-box img:hover {
  transform: scale(1.1);
}

.portfolio figcaption h4 {
  margin-bottom: 8px;
}

.portfolio .subtitle {
  font-size: 16px;
}


/* Media queries */

@media (max-width: 991px) {
  .splash-inner h2 {
    white-space: normal;
  }
}

@media (max-width: 767px) {
  .golden-logo {
    display: none;
  }
  .nav-menu-wrapper {
    justify-content: center;
  }
  .splash-inner h1 {
    font-size: 32px;
  }
  .splash-inner h2 {
    font-size: 48px;
  }
}

@media (max-width: 575px) {
  .splash nav li {
    margin-right: 24px;
  }
}
